<h1 class="text-center">Listing articles</h1>

<table class="table table-bordered table-hover table-condensed" id="articles_table">
  <thead>
    <tr class="active">
      <th>Title</th>
      <th>Author</th>
      <th class="text-center">Date</th>
      <th class="text-center">Published</th>
      <th>Post</th>
      <th class="text-center" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render "article_index" %>
  </tbody>
</table>

<%= link_to 'New Article' , new_article_path, :class => "button btn btn-lg btn-success", remote: true %>